<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="#"> 
    <title>Vue Dischi</title>
</head>
<body>
    <div id="app">

        <!-- inizio header -->
        <header>
            <img src="./img/logo-small.svg" alt="logo spotify">
        </header>
        <!-- /header -->


        <!-- inizio main -->
        <main>
            <!-- inizio sezione lista album -->
            <section class="container">
                <!-- ricerca album per genere -->
                <select class= "genre" v-model= "genreValue" @change= "changeSelect()">
                    <option value="">Select genre</option>
                    <option value="Rock">Rock</option>
                    <option value="Pop">Pop</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Metal">Metal</option>
                </select>
                <!-- /ricerca album per genere -->
                <div class="row">
                    <div v-for="album in database" :key="album.id" class="album">
                        <img :src="album.poster" :alt="album.title">
                        <h4>{{album.title}}</h4>
                        <p>{{album.author}}</p>
                        <p>{{album.year}}</p>
                    </div>
                </div>
            </section>
            <!-- /sezione lista album -->
        </main>
        <!-- /main -->

    </div>




    <!-- js -->
    <script src="js/main.js"></script>
    <!-- /js -->
</body>
</html>